.about-page-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.about-page-container section {
    padding: 64px 0px;
}

.about-page-container section h1 {
    margin-bottom: 16px;
}