.user-details-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    border: 1px solid #D6EAFF;
    border-radius: 16px;
    margin: 48px 0px
}

.user-details-form label {
    margin-right: 12px;
}

.user-details-form input {
    margin-right: 24px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #404040;
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}

input[type="submit"] {
    background-color: #D6EAFF;
    outline: none;
    border: transparent;
    color: #000;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {

    .user-details-form  {
        display: grid;
        grid-template-columns: 1fr;
        padding:  32px 20px;
    }

    .user-details-input, input[type="submit"] {
        width: 100%;
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .user-details-input{
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
    .user-details-form  {
        margin-top: 32px;
        flex-direction: column;
    }

    .user-details-input {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 16px;
    }

    .user-details-form input, input[type="submit"]  {
        margin-right: 0px;
    }
}

