.home-page-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.tab {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid gray;
    justify-content: center;
    flex-wrap: wrap;
}

.tab h4 {
    margin-right: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.tab h4.active {
    background-color:#90EE90;
    border-radius: 8px;
    color: #fff;
}